$color-btn-ocean: #2196f7;
$color-btn-mountains: #6c136f;
$color-btn-forest: #32ad1e;

// color-btn:hover
$color-btn-ocean-hover: #ffffff;
$color-btn-mountains-hover: #ffffff;
$color-btn-forest-hover: #ffffff;

// border-btn
$border-btn-ocean: #2196f7;
$border-btn-mountains: #6c136f;
$border-btn-forest: #32ad1e;

// bg-btn:hover
$bg-btn-ocean-hover: #2196f7;
$bg-btn-mountains-hover: #6c136f;
$bg-btn-forest-hover: #32ad1e;
