// color-money
$color-money-ocean: #7ac0fa;
$color-money-mountains: #7c3867;
$color-money-forest: #40b22d;
$color-text-content: #7f8e99;
$color-title-small: #b4c0c9;
$color-logo: #ffffff;

// color-img
$color-img: #ffffff;

// bg-contact
$bg-contact: #cad3d3;

// bg-color
$bg-money-ocean: #ffffff;
$bg-money-mountains: #2c2e3d;
$bg-money-forest: #ffffff;
$bg-text-content: #f4f6f7;
